{% extends 'base.html' %}

{% block container %}
  <main class="container">
    {% if generated_password != "" %}
    <div class="alert alert-warning" role="alert">Мы сгенерировали для вас пароль {{ generated_password }}. Предварительно скопировав, вы можете изменить его <a href={{ url_for("change_password") }}>здесь</a>.</div>
    {% else %}
    <div class="alert alert-warning" role="alert"> <a href={{ url_for("change_password") }}>Поменять пароль</a>.</div>
    {% endif %}
    <section class="row">
      <div class="col-12 col-lg-8">
        <h1 class="h3 my-5">Личный кабинет. Заказы</h1>
        {% for order in orders %}
        <div class="mt-2 card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-7 col-lg-9">
                  <span class="h5 font-weight-bold">{{ order.date_created.strftime('%Y %B %d  %H:%M') }}</span>
                  <span class="h5">- {{ order.total_payment }} P</span>
                </div>
              </div>
            </li>
            <div class="card-body">
              <div class="row">
                {% for detail in order_details %}
                {% if detail["order_id"] == order.id %}
                <p class="col-4 text-muted">{{ detail["title"] }} </p>
                <p class="col-2 text-muted">{{ detail["amount"] }}</p>
                <p class="col-6 text-muted"> {{ detail["price"] }} </p>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </ul>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>

{% endblock %}